@import "colors";
@import "css-reseter";
@import "flexbox";
@import "grid";
@import "padding_margin";
body{
  background-color: #282c34;
}

main {
  width: 96vw;
  margin: 50px auto;
  padding: 25px;
}

::placeholder {
  color: #606060;
}

form {
  max-width: 75%;
  margin: 25px auto;
  padding: 25px;
  background-color: #434a56;
  border-radius: 9px;
  box-shadow: 1px 1px 128px 1px rgba(128, 128, 128, 0.55);

  label {
    font-weight: 600;
    font-size: 1rem;
    color: #0a0d17;
  }
  input, textarea, select {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: lightslategray;
    color: #61dafb;
    outline: none;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
  }

  button {
    cursor: pointer;
    margin:15px auto;
    padding: 7px 25px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #61dafb;
    color:#282c34;
    border: none;
    outline: none;
    border-radius: 7px;
    transition: transform 300ms ease-out;
    &:hover {
      transform: scale(1.05);
    }
    &:active{
      transform: scale(0.95);
    }
  }
}

ul {
  list-style-type: none;
}

.text-center{
  text-align: center;
}

.box {
  margin: 25px auto;
  padding: 25px;
  background-color: #434a56;
  border-radius: 9px;
  box-shadow: 1px 1px 128px 1px rgba(128, 128, 128, 0.55);
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-95 {
  width: 95%;
}

.w-50vw {
  width: 50vw;
}

.w-75vw {
  width: 75vw;
}

.w-95vw {
  width: 95vw;
}

